<html>
	<head>
		<meta charset="utf-8">
		<title>Pickup Point Searcher</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<ul>
			<li><a class="active" href="#">Pickup Point Searcher</a></li>
			<li style="float:right"><a href="#">Login</a></li>
		</ul>
		
		<h1 style="text-align:center">Search Pickup Point</h1>
		<div class="container">
			<fieldset>
			<div align=center>
				<form action="/searchPickupPoints" method="post">
					<input name="country_code" type="text" placeholder="Enter a Country Code" required>
					<input name="postal_code" type="text" placeholder="Enter a Postal Code" required>
					<input type="submit" value="Search">
				</form>
			</div>
			</fieldset>
		</div>
	</body>
</html>