.tabela {
  /*margin-top: 10px;*/
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  vertical-align: center;
  /*width: 100%;*/
}

.tabela td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tabela thead > tr > th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #17a1cf; /*#181d26; */
  color: white;
}

.tabela tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabela tr:nth-child(odd) {
  background-color: #ddd;
}

.tabela tbody > tr:hover {
  background-color: #ffff99; /*white; /*#ddd; */
}

.tabela_warning {
  background-color: #f39c12;
}

.centra_dados_tabela {
  text-align: center;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #17a1cf; /*#4CAF50;*/
}







